@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&family=Nunito+Sans:wght@400;500;600&family=Poppins:wght@400;500;600&family=Inter:wght@400;500;600&family=Montserrat:wght@500;600&family=Raleway:wght@400;500&display=swap');

body {
    margin: 0;
}

.account-page {
    display: flex;
}

.account-page .modal {
    background-color: rgba(0, 0, 0, 0.41);
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-page .modal.none {
    display: none;
}

.account-page .modal .modal-card {
    background-color: #fff;
    font-family: 'DM sans', sans-serif;
    font-weight: 500;
    /*padding: 10px 0;*/
    width: 430px;
    height: 380px;
    border-radius: 7px;
    color: #212121;
}

.account-page .modal .modal-card header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 20px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

}

.account-page .modal .modal-card header h1 {
    margin: 0;
}

.account-page .modal .modal-card .modal-msg {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.account-page .modal .modal-card .modal-msg .warning-msg {
    color: #c64545;
    font-weight: 400;
}

.account-page .modal .modal-card .modal-msg .heading-msg {
    font-family: 'Nunito sans', sans-serif;
    font-size: 27px;
    font-weight: 400;
}

.account-page .modal .modal-card form {
    padding: 0 20px 20px 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.account-page .modal .modal-card form .delete {
    background-color: #e93d3d;
    width: 100%;
    color: #fff;
    padding: 15px 18px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #e93d3d;
    cursor: pointer;
    transition: all ease 0.2s;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.account-page .modal .modal-card form .cancel {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    color: #000;
    padding: 15px 18px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid blue;
    cursor: pointer;
    transition: all ease 0.2s;
}

.account-page .modal .modal-card form .delete:hover {
    background-color: #ce3535;
}

.account-page .modal .modal-card form .cancel:hover {
    background-color: blue;
    color: #fff;
}

.account-page .sidebar {
    width: 300px;
    height: 100vh;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*height: 100vh;*/
}

.account-page .sidebar .wrapper-top-mid {
    height: 70%;
}

.account-page .sidebar .top {
    margin: 10px auto 30px auto;
    padding: 10px 0;
}

.account-page .sidebar .top .logo {
    margin: 10px 0 25px 0;
    text-align: center;
    font-weight: 600;
    font-size: 34px;
}

.account-page .sidebar .top .logo a {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-decoration: none;
}

.account-page .sidebar .top .image-wrapper {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-page .sidebar .top .image-wrapper .profile-image {
    width: 100%;
    object-fit: cover;
}

.account-page .sidebar .top .image-wrapper .upload_profile_photo {
    width: 100%;
    height: 100%;
}

.account-page .sidebar .mid-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    height: inherit;
    justify-content: space-evenly;
    font-family: 'Dm sans', sans-serif;
}

.account-page .sidebar .mid-links .link-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account-page .sidebar .mid-links .link-wrapper .link {
    text-decoration: none;
    color: #181818;
    font-weight: 400;
    font-size: 20px;
}

.account-page .sidebar .mid-links .link-wrapper .link:hover {
    color: #484848;
}

.account-page .sidebar .mid-links .link-wrapper:hover .bi {
    color: blue;
}

.account-page .sidebar .mid-links .link-wrapper .bi {
    font-size: 23px;
}

.account-page .sidebar .bottom {
    margin: 20px 0;
    padding: 15px 0;
}

.account-page .sidebar .bottom .logout-button {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background-color: #212121;
    padding: 10px 15px;
    font-size: 22px;
    border-radius: 4px;
    border: 1px solid #212121;
    cursor: pointer;
}

.account-page .sidebar .bottom .logout-button:hover {
    background-color: #000;
}

.account-page .sidebar .bottom .verify-button {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background-color: #28a745;
    padding: 10px 15px;
    font-size: 22px;
    border-radius: 4px;
    border: 1px solid #28a745;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

.account-page .sidebar .bottom .verify-button:hover {
    background-color: #218838;
}

/*Right side of account page */
.account-page .right {
    width: calc(100% - 300px);
}

.account-page .right header {
    border-bottom: 1px solid lightgray;
    margin: 25px 0 0;
}

.account-page .right header .title {
    padding: 0 40px;
    font-family: 'Dm Sans', sans-serif;
    color: #212121;
    font-weight: 600;
}

.account-page .right .user-info-wrapper {
    width: 400px;
    padding: 10px 40px;
    /*margin: auto auto 30px 90px;*/
}

.account-page .right .user-info-wrapper h2 {
    font-family: 'Dm sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 7px;
    color: #212121;
}

.account-page .right .user-info-wrapper p {
    font-family: 'Dm sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #898686;
    margin: 0 0 20px;
}

.account-page .right .user-details-wrapper {
    margin: 30px 0 0 0;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    width: 44%;
    height: autos;
    font-family: 'Dm sans', sans-serif;
    padding: 0 20px;
}

.account-page .right .user-admin-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.account-page .right .admin-wrapper .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.account-page .right .user-admin-wrapper .admin-wrapper .card-container a {
    color: #000;
    text-decoration: none;
    display: flex;
    flex-grow: 1;

}

.account-page .right .user-admin-wrapper .admin-wrapper .card-container a .card {
    width: 300px;
    height: 150px;
    border: 2px solid #fff;
    padding: 8px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 7px 6px 10px rgb(0 0 0 / 2%);
    transition: all ease 0.2s;
    flex-grow: 1;
    box-sizing: border-box;
}

.account-page .right .admin-wrapper .card-container a .card.green {
    background-color: #1CB43420;
    color: #145c14;
}

.account-page .right .admin-wrapper .card-container a .card.blue {
    background-color: #1667cb20;
    color: #142d5c;
}

.account-page .right .admin-wrapper .card-container a .card.red {
    background-color: #cb161620;
    color: #681b1b;
}

.account-page .right .admin-wrapper .card-container a .card:hover {
    border: 2px solid #000000;
    box-shadow: inset 7px 6px 10px rgb(0 0 0 / 4%);
}

.account-page .right .admin-wrapper .card-container a .card:active {
    /*border: 2px solid #0c0cb0;*/
    box-shadow: inset 5px 8px 10px rgb(0 0 0 / 18%);
    transform: scale(0.96);
}

.account-page .right .admin-wrapper .card-container a .card .card-details {
    margin: 10px;
}

.account-page .right .admin-wrapper .card-container a .card .card-details .title, .desc {
    margin: 5px 0;
}

.account-page .right .admin-wrapper {
    margin: 30px 10px 0 0;
    height: auto;
    font-family: 'Dm sans', sans-serif;
    padding: 20px;
    width: 44%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: -5px 3px 30px rgb(0 0 0 / 4%);
    flex-grow: 1;
}

.account-page .right .user-details-wrapper .field-group {
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 10px;
    justify-content: center;
}

.account-page .right .user-details-wrapper .field-group label {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 22px;
}

.account-page .right .user-details-wrapper .field-group input {
    background-color: transparent;
    padding: 10px;
    font-size: 19px;
    color: #000;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.account-page .right .user-details-wrapper .field-group .label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-page .right .user-details-wrapper .field-group .reset-pass-btn {
    background-color: #fbfbfb;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    box-shadow: 1px 2px 13px rgb(0 0 0 / 3%);
    transition: all ease-in-out 0.1s;
    border: 1px solid #fff;
    text-decoration: none;
    color: #000;
}

.account-page .right .user-details-wrapper .field-group .reset-pass-btn:hover {
    box-shadow: 1px 2px 13px rgb(0 0 0 / 10%);
    background-color: #f6f6f6;
    border: 1px solid #000;
}

.account-page .right .user-details-wrapper .save-button {
    background-color: #0d17e6;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    box-shadow: 1px 2px 13px rgb(0 0 0 / 3%);
    transition: all ease-in-out 0.1s;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

.flex-end-og {
    justify-content: flex-end;
}

.success-alert {
    background-color: #1CB43420;
    border: 1px solid #3a9b3f;
    color: #145c14;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 13px;
    border-radius: 4px;
    font-size: 17px;
    height: max-content;
}

.warning-alert {
    background-color: #fff3cd8a;
    border: 1px solid #9b843a;
    color: #856404;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 13px;
    border-radius: 4px;
    font-size: 17px;
    box-sizing: border-box;
    height: max-content;
}

.success-alert p, .warning-alert p {
    margin: 0;
}

.bi {
    cursor: pointer;
    font-size: 18px;
}

.trash {
    font-size: 60px;
    color: #313131;
}

.account-page .right .user-details-wrapper .save-button:hover {
    background-color: #0c61de;
}

.account-page .right .user-details-wrapper .field-group .label-wrapper a:hover {
    text-decoration: underline;
}

.admin {
    background-color: rgb(23 218 58 / 18%);
    color: #145c14;
    border-radius: 4px;
    padding: 8px 0;
    margin: 0;
}

.member {
    background-color: rgb(25 131 226 / 19%);
    color: #141a5c;
    border-radius: 4px;
    padding: 8px 0;
    margin: 0;
}

