@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&family=Poppins:wght@400;500;600;700;800&family=Inter:wght@400;500;600&family=Montserrat:wght@500;600&family=Raleway:wght@400;500&display=swap');

body{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}


/*spinner */
.loader.d-none {
    display: none;
}

.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

header {
	padding: 20px;
	height: 80vh;
	display: flex;
	align-items: center;
}

header .hero{
	margin: 50px auto;
	width: 58%;
	text-align: center;
	font-family: "Poppins", sans-serif;
}

header .hero .hero-title{
	font-size: 70px;
	line-height: 1.2;
	margin: 50px 0;
}

header .hero .hero-title .bg-splash{
	background-image: url(/images/splash.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    overflow: visible;
    width: 300px;
    display: inline-block;
}

header .hero .button-wrapper{
	padding: 20px 0;
}

header .hero .button-wrapper .get-started-btn{
	background-color: #000;
	color: #fff;
	padding: 12px 33px;
	border-radius: 80px;
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
}
.pincode-wrapper{
	background-color: #fff;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 50px;
}

.pincode-wrapper .heading{
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 35px;
	width: 45%;
	margin: 25px auto;
	text-align: center;
}

.pincode-section .container{
	width: 45%;
	margin: auto;
	background-color: #F3F5F9;
	display: flex;
	justify-content: space-between;
	padding: 25px;
}

.pincode-section .container .box{
	width: 360px;
	height: 360px;
	font-family: "Poppins", sans-serif;
	padding: 20px;
}

.pincode-section .container .box-black{
	background-color: #000;
	display: flex;
	align-items: center;
}

.pincode-section .container .box-black h1{
	color: #fff;
	font-weight: 800;
	font-size: 65px;
	line-height: 1.3;
	margin: 25px;
}

.pincode-section .container .box-white{
	background-color: #fff;
}

.pincode-section .container .box-white .binocular-img{
	width: 100%;
	margin-bottom: 10px;
}

.pincode-section .container .box-white .form-wrapper{
	margin-top: 15px;
}

.pincode-section .container .box-white .form-wrapper form{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.pincode-section .container .box-white .form-wrapper form label{
	font-size: 22px;
	font-weight: 500;
}

.pincode-section .container .box-white .form-wrapper form input{
	width: 100%;
	box-sizing: border-box;
	border: 1px solid lightgray;
	background-color: #fff;
	font-size: 19px;
	font-weight: 400;
	padding: 10px 14px;
	border-radius: 8px;
}

.pincode-section .container .box-white .form-wrapper form input::-webkit-outer-spin-button,
.pincode-section .container .box-white .form-wrapper form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pincode-section .container .box-white .form-wrapper form button{
	font-size: 22px;
	font-weight: 500;
	border: 1px solid #191919;
	background-color: #191919;
	padding: 10px 0;
	color: #fff;
	cursor: pointer;
	border-radius: 8px;
	font-family: "DM sans", sans-serif;
}

.pincode-section .container .box-white .form-wrapper form button:hover{
	background-color: #000;
}

.contact-section{
  height: 78vh;
  display: flex;
  align-items: flex-start;
  padding: 50px 0;
  margin: 50px auto;
  justify-content: center;
  gap: 8rem;
  width: 75%;
}

.contact-section .contact-container{
/*	width: 50%;*/
	font-family: "Poppins", sans-serif;
}

.contact-section .contact-container .heading{
	font-weight: 600;
	font-size: 45px;
	margin: 5px 0;
}

.contact-section .contact-container .info{
	width: 430px;
	margin: 0;
}

.contact-section .contact-container .required-txt{
	color: #6C7687;
	font-size: 15px;
	font-weight: 400;
}

.contact-section .contact-container .c-form-wrapper form{
	display: flex;
	flex-direction: column;
	gap: 10px;
/*	border: 1px solid #000;*/
	width: 430px;
	margin: 0;
}

.contact-section .contact-container .c-form-wrapper form .form-group .form-control{
	width: 100%;
	padding: 10px 12px;
	background-color: transparent;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	border: 1px solid lightgray;
	border-radius: 8px;
	transition: all ease 0.2s;
	box-sizing: border-box;
}

.contact-section .contact-container .c-form-wrapper form .form-group .form-control:focus{
	box-shadow: 0 0 0 0.2rem blue;
	outline: none;
}

.contact-section .contact-container .c-form-wrapper form .c-send-button{
	width: 100%;
	background-color: #0071E3;
	color: #fff;
	font-family: 'DM sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	border: 1px solid #0071E3;
	border-radius: 8px;
	padding: 14px 0;
	cursor: pointer;
}

.contact-section .contact-container .c-form-wrapper form .c-send-button:hover{
	background-color: #077df4;
}

.contact-section .contact-container .c-form-wrapper form .c-send-button:active{
	background-color: #1171ca;
}

.contact-section .img-col img{
	width: 410px;
}
