@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Raleway:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav {
    /*    background-color: #fff;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

nav .nav__left {
    display: flex;
    align-items: center;
}

nav .nav__left .nav__brand {
    font-family: 'Montserrat', sans-serif;
}

nav .nav__left .nav__brand h1 a {
    color: #0D0D0D;
    text-decoration: none;
}


nav .nav__left .nav__items {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
}

nav .nav__left .nav__items li a,
.nav__right .nav__items li a {
    text-decoration: none;
    color: #515151;
    font-weight: 500;
}

nav .nav__left .nav__items li a:hover,
.nav__right .nav__items li a:hover {
    border-bottom: 2px solid #515151;
    color: black;
    /*text-decoration: underline;*/
}

nav .nav__right .nav__items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
}

nav .nav__right .nav__items .button__link .cart__button {
    background-color: #000000;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

nav .nav__right .nav__items .log-out-btn {
    background: transparent;
    border: 1px solid black;
    padding: 8px 10px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
}

nav .nav__right .nav__items .log-out-btn:hover {
    background-color: #181818;
    color: white;
    ;
}

.menu {
    display: none;
}

.d-none{
    display: none;
}

.log-out-btn-sm{
    display: none;
    background: transparent;
    /*border: 1px solid black;*/
    padding: 8px 10px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    width: max-content;
    margin: auto;
    border: 1px solid white;
}

.cart-sm{
    display:none;
}

@media (max-width: 768px) {
    nav .nav__left .nav__items {
        flex-direction: column;
        position: fixed;
        z-index: 100;
        width: 20%;
        background-color: #000;
        padding: 18px 40px;
        justify-content: center;
        right: -270px;
        top: 0;
        text-align: right;
        height: 100vh;
        margin: 0;
        transition: all ease 0.2s;
    }

    .menu{
        position: relative;
        z-index: 1000;
    }

    .menu.white{
        color: white;
    }

    nav .nav__left .nav__items.show{
        display: flex;
        right: 0;
    }

    nav .nav__left .nav__items li {
        padding: 10px;
    }


    nav .nav__left .nav__items li a{
        color: white;
        font-size: 25px;
    }

    nav .nav__right .nav__items li a.white{
        color: white;
        z-index: 999;
    }


    nav .nav__right{
        position:absolute;
        top: 12px;
        right: 40px;
    }

    nav .nav__left {
        display: block;
    }

    nav .nav__right .nav__items .log-out-btn {

        display: none;
    }

    .menu {
        display: block;
    }

    nav .nav__right .nav__items .button__link .cart__button {
        display: none;
    }

    header .hero {
        width: 80%;
    }

    header .hero .hero-title{
        font-size: 50px;
    }

    header .hero .hero-title .bg-splash{
        width: 234px;
    }

    .pincode-wrapper .heading {
        width: 50%;
    }

    .pincode-section .container .box-black {
        display: none;
    }

    .pincode-container .container{
        flex-wrap: wrap;
    }

    .contact-section{
        flex-wrap: wrap;
        height: 100%;
    }

    .pincode-section .container{
        flex-wrap: wrap;
    }

    .log-out-btn-sm{
        display: block;
    }

    .cart-sm{
        display: block;
    }
}

@media (max-width: 400px){
    header .hero .hero-title{
        font-size: 40px;
    }

    nav{
        padding: 0 20px;
    }

    nav .nav__right .nav__items{
        padding: 0;
        gap: 10%;
        width: 100%;
        margin: 7px 0;
        justify-content: space-around;
    }

    nav .nav__left .nav__items li a{
        font-size: 20px;
    }

    nav .nav__left   .nav__items.show{

        width: 100%;
        text-align: center;
        padding: 0;
    }

    .pincode-section .container .box-white{
        width: max-content;
    }
    .contact-section .contact-container .heading{
        font-size: 40px;
    }

    .pincode-wrapper{
        height: auto;
    }

    .pincode-wrapper .heading{
        width: 100%;
        font-size: 30px;
    }

    .pincode-section .container{
        width: 80%;
    }

    .contact-section .contact-container .info{
        width: 100%;
    }

    .contact-section .contact-container{
        width: 100%;
    }

    .contact-section .contact-container .c-form-wrapper form{
        width: 100%;
    }

    .contact-section .img-col{
        display: none;
    }
}
