@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@500;600&family=Raleway:wght@400;500&display=swap');

header{
    margin: 40px auto 20px auto;
    width: 87%;
}

header .heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #272727;
}

header .filter-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

header .filter-cont .filter{
    background: transparent;
    border: 2px solid #000;
    outline: none;
    padding: 6px 8px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

.card-container{
    width: 90%;
    margin: auto auto 50px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.display-area form {
    font-family: 'Poppins', sans-serif;
}

.display-area form .dropdown-area{
    position: relative;
}

.display-area form .dropdown-area .dropdown-input .show_area {
    background: transparent;
    border: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.display-area form .dropdown-area .dropdown-input {
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.display-area form .dropdown-area .dropdown-content{
    position: absolute;
    width: 100%;
    transition: all ease 0.2s;
}

.display-area form .dropdown-area .dropdown-content.d-none{
    display: none;
}

.display-area form .dropdown-area .dropdown-content .change-area-btn{
    width: 100%;
    background-color: #fbfbfb;
    padding: 8px 0;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 13px rgb(0 0 0 / 6%);
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
